
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Chesski Move Trainer</title>
  <base href="../" />
  <link rel="stylesheet" href="css/chessboard-1.0.0.css">
</head>
<body>

<div id="myBoard" style="width: 400px"></div>
<button onclick="loadPuzzle()">Next Puzzle</button>
<div id="status">

</div>

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/chessboard-1.0.0.js" ></script>
<script src="/js/chesski.js"></script>
<script>

let idx = 0
let playerTurn = true;
let puzzle = {}

function puzzleSuccess() {
  let startingPosText = document.getElementById("status");
  let para = document.createElement("p");
  // TODO - Update database with success
  passedPuzzle(puzzle.id);
  let text = document.createTextNode("Puzzle Solved & Progress Updated!");
  para.appendChild(text);
  startingPosText.appendChild(para);
}

function puzzleFail(correct, actual) {
  let startingPostText = document.getElementById("status");
  let para = document.createElement("p");
  // TODO - Update database with failure
  let text = document.createTextNode(`Puzzle Failed, Correct Move ${correct}: Actual Move: ${actual}\n Progress Updated.`);
  para.appendChild(text);
  startingPostText.appendChild(para);
}

function computesMove () {
  if (playerTurn === false && idx < puzzle.moves.length) {
    let computersMove = puzzle.moves[idx];
    board.move(computersMove.start + "-" + computersMove.end);
    playerTurn = true;
    idx++;
  }
}

function onDrop (source, target, piece, newPos, oldPos, orientation) {
    if (!playerTurn || Object.keys(puzzle).length === 0){
        return 'snapback'
    }
    if (puzzle.moves[idx].start === source && puzzle.moves[idx].end === target) {
        board.move(puzzle.moves[idx].start, puzzle.moves[idx].end)
        idx++
        if (idx === puzzle.moves.length) {
          puzzleSuccess();
        }
        playerTurn = false;
        window.setTimeout(computesMove, 1000);
    } else {
        console.log("Wrong move!")
        puzzleFail(puzzle.moves[idx].end, target);
        playerTurn = false;
    }
}

function setInitialBoardState() {
  let board = ChessBoard('myBoard', {
    position: 'start',
    moveSpeed: 'slow',
    showNotation: true,
    draggable: true,
    onDrop: onDrop,
  });
  return board;
}

function updateBoard(payload) {
  puzzle = JSON.parse(payload);
  idx = 0;
  playerTurn = true;
  board.position(puzzle.startingPosition, false);
  board.orientation(puzzle.orientation);
}

function loadPuzzle() {
  let xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function() {
    if (xhr.readyState === 4) {
      updateBoard(xhr.responseText);
    }
  }
  xhr.overrideMimeType("application/json");
  xhr.open("GET", "/api/load-puzzle", true);
  xhr.withCredentials = true;
  xhr.send();
}

function passedPuzzle(puzzleId) {
  let xhr = new XMLHttpRequest();
  xhr.open("POST", `/api/passed-puzzle/${puzzleId}`);
  xhr.withCredentials = true;
  xhr.send();
}

let board = setInitialBoardState();
</script>
</body>
</html>
